:root {
  --content-min-width: 280px;
  --content-max-width: 80ch;
  --content-width: minmax(0, var(--content-max-width));
  /* layout */
  --grid-cols: [whitespace-start] 1fr [padding-start] 1rem [content-start]
    var(--content-width) [content-end] 1rem [padding-end] 1fr [whitespace-end];
  --header-span: content-start / content-end;
  --content-span: content-start / content-end;
  --header-content-gap: 1em;

  /* colors */
  --highlight-color-light: hsl(151 60% 50%);
  --highlight-color: hsl(157 75% 30%);
  --highlight-color-dark: hsl(157 75% 20%);
  --highlight-color-target: hsl(157 75% 20%);

  --background-color: hsl(0 0% 100%);

  --font-color-heavier: hsl(0 0% 5%);
  --font-color-heavy: hsl(0 0% 15%);
  --font-color-normal: hsl(0 0% 25%);
  --font-color-light: hsl(0 0% 35%);
  --font-color-lighter: hsl(0 0% 45%);
  --font-color-lighter2: hsl(0 0% 85%);

  --background-color-inline-code: #e5f5e5;
  --background-color-code-block: #2d2d2d;
  --font-color-code-block: #ccc;
  --padding-inline-code: 0.125em 0.25em;
  --font-color-inline-code: var(--highlight-color-dark);

  --shadow-color: #00000057;

  /* effects */
  --box-shadow: 0.05em 0.1em 5px 0.01em var(--shadow-color);

  /* fonts */
  --font-serif: serif;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-mono: monospace;

  --font-content: var(--font-serif);
  --font-header-content: var(--font-sans);
  --font-header: var(--font-serif);
  --font-metadata: var(--font-sans);
  --font-pagination: var(--font-sans);

  /* icons */
  --icon-height: 1em;
  --icon-width: var(--icon-height);

  --icon-container-max-width: 30ch;

  /* padding */
  --padding-h-normal: 1em;

  /* margin */
  --margin-v-normal: 1em;
  --margin-v-l: 2em;

  /* separator */
  --separator-height: 1px;
  --separator-margin: 0.2rem 0;

  /* metadata */
  --metadata-font-size: 0.9em;

  /* border */
  --border-radius: 3px;

  /* blockquote */
  --blockquote-border: var(--separator-height) solid var(--font-color-lighter);
}
