.container-404 {
  display: grid;
  grid-template-columns: var(--content-width);
  place-items: center;
}

.flexbox-404 {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.body-404 {
  flex-grow: 1;
}
