code:not([class*="language-"]) {
  font-variant-caps: normal;
  font-size: 0.9em;
  background-color: var(--background-color-inline-code);
  padding: var(--padding-inline-code);
  color: var(--font-color-inline-code);
  border-radius: var(--border-radius);
}

/*  Note: this is a hack to get around the prismjs highlighting.*/
/*  prismjs needs the pre tag to have a "language-" class, but orga*/
/*  doesn't generate this. As such, we need to add it manually. */
pre {
  background-color: var(--background-color-code-block);
  padding: var(--padding-h-normal) var(--padding-h-normal);
  overflow-x: scroll;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: 0.9em;
  color: var(--font-color-code-block)
}
