a {
  color: currentColor;
  text-decoration-color: var(--highlight-color-light);
}

a:hover,
a:focus,
a:focus .icon,
a:active,
a:active .icon,
a:hover:visited,
a:active:visited,
a:hover:visited {
  text-decoration-color: var(--highlight-color-light);
  color: var(--highlight-color-light);
}

a:visited {
  text-decoration-color: var(--highlight-color);
}

article > section {
  margin-bottom: var(--margin-v-normal);
}

section > div {
  margin-bottom: var(--margin-v-normal);
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5 {
  margin-top: 2em;
  font-variant-caps: small-caps;
  color: var(--font-color-heavier);
}

.post-body h1::after,
.post-body h2::after,
.post-body h3::after,
.post-body h4::after,
.post-body h5::after {
  content: "";
  display: block;
  width: 1.5em;
  height: 0.1em;
  background-color: var(--highlight-color-light);
}

article h2:target::after,
article h3:target::after,
article h4:target::after,
article h5:target::after {
  background-color: var(--highlight-color-target);
}

blockquote {
  border-top: var(--blockquote-border);
  border-bottom: var(--blockquote-border);
  font-style: oblique;
}

dt {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color-heavy);
  font-family: var(--font-header);
  font-weight: lighter;
}
