footer {
  grid-column: var(--header-span);
  color: var(--font-color-heavy);
}

.footer-content {
  display: flex;
  flex-flow: column;
  max-width: var(--icon-container-max-width);
  padding: 0 var(--padding-h-normal);
  text-align: center;
  margin: auto;
}

.footer-icons {
  color: inherit;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 1rem;
  color: var(--font-color-normal);
}
