header {
  font-weight: lighter;
}

.header-footer {
  padding: 0.5em 0;
  grid-column: var(--header-span);
  color: var(--font-color-heavy);
  font-size: 1.3em;
}

.header-content {
  display: flex;
  flex-flow: row wrap;
  gap: var(--header-content-gap);
  justify-content: space-between;
  font-family: var(--font-header-content);
  align-content: flex-end;
  vertical-align: text-bottom;
}

.logo {
  flex-grow: 2;
  text-decoration: none;
  display: inline-flex;
  align-items: flex-end;
}

.header-nav a,
.header-nav a:visited,
.logo a:visited,
.logo a {
  text-decoration: none;
  color: currentColor;
}

.logo a:hover,
.logo a:focus,
.logo a:active {
  color: var(--highlight-color-light);
}

.header-nav a:hover,
.header-nav a:focus,
.header-nav a:active {
  text-decoration-line: underline;
  text-decoration-color: var(--highlight-color-light);
}

.header-nav a.active:hover,
.header-nav a.active:focus,
.header-nav a.active:active {
  text-decoration-line: underline overline;
}

.header-nav .active {
  font-weight: bolder;
  text-decoration-line: underline overline;
  color: var(--font-color-heavier);
}

.header-nav {
  display: flex;
  flex: auto;
}

.header-nav ul {
  white-space: nowrap;
  flex: auto;
  gap: var(--header-content-gap);
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-nav ul li {
  margin: 0;
}
