.metadata > .highlight {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.2em;
  height: 100%;
  background-color: currentColor;
}

.metadata {
  position: relative;
  color: var(--font-color-light);
  font-family: var(--font-metadata);
  font-weight: lighter;
  font-size: var(--metadata-font-size);
}

.metadata > ul {
  list-style: none;
  padding-left: var(--padding-h-normal);
}

.taglist {
  list-style: none;
  padding-left: 0;
}

.taglist > li {
  display: inline;
}
