.pagination-navigation {
  display: flex;
  justify-content: space-between;
}

.pagination-navigation > a,
.pagination-navigation > span {
  font-family: var(--font-pagination);
}

.disabled-nav {
  color: var(--font-color-light);
  text-decoration: line-through;
}
