.separator-heavy {
  color: var(--font-color-heavy);
}

.separator-light {
  color: var(--font-color-lighter);
}

.separator-highlight {
  color: var(--highlight-color);
}

.separator {
  width: 100%;
  margin: var(--separator-margin);
}

hr {
  color: var(--font-color-lighter2);
  width: 50%;
  margin: auto;
  height: var(--separator-height);
  border-style: solid;
  border-width: 0;
  background-color: currentColor;
}

.post-separator {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
