.viewport {
  display: grid;
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: var(--grid-cols);
  background-color: var(--background-color);
  color: var(--font-color-normal);
}

.subgrid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: var(--grid-cols);
}

.span-all {
  grid-column: 1/-1;
}

.highlight {
  color: var(--highlight-color-light);
}

.break-line {
  display: inline-block;
}

.content {
  font-size: 1.1rem;
  grid-column: var(--content-span);
  font-family: var(--font-content);
}

.body > hr {
  margin-top: var(--margin-v-l);
  margin-bottom: var(--margin-v-l);
  width: 7em;
}

.footnotes > hr {
  display: none;
}

.heading {
  margin-bottom: 0;
}

.title-wrapper {
  font-size: 1.3em;
}

.title {
  margin: 0;
  hyphens: auto;
}

.caption,
.caption p {
  font-style: oblique;
  color: var(--font-color-lighter);
}

.grid-centered {
  display: grid;
  place-items: center;
}

aside,
.aside {
  padding: var(--padding-h-normal);
  background-color: var(--background-color-inline-code);
  border-radius: var(--border-radius);
  color: var(--font-color-inline-code);
  font-size: 0.9em;
  box-shadow: var(--box-shadow);
  font: var(--font-content);
  white-space: normal;
}

aside::before,
.aside::before {
  content: "Heads up!";
  font-weight: bolder;
  display: block;
  margin-bottom: var(--margin-v-normal);
}

dd {
  margin-bottom: inherit;
}

dd > p:first-of-type {
  margin-top: inherit;
}

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inline-list > li {
  display: inline;
}

.bio-card {
  display: flex;
  gap: 1em;
  flex-flow: row wrap;
  justify-content: center;
}

.bio-card > p {
  margin: 0;
  flex: 1 1 200px;
}

.gap {
  gap: var(--margin-v-l);
  padding-bottom: var(--margin-v-l);
}
